    html, body {
      margin: 0;
      height: 100%;
      font-family: monospace;
      color: #e8eaed;
      overflow-y: hidden;
    }
    /* Controls bar */
    #controls {
      display: flex;
      align-items: center;
      gap: .4rem;
      padding: .4rem .8rem;
      background: #000000;
      position: fixed;
      top: 0;
      z-index: 1000;
      width: 100%;
    }
    
    #controls input, #controls select, #controls button {
      background: #0b0d10;
      color: #e8eaed;
      border: 1px solid gray;
      border-radius: .25rem;
      padding: .25rem .6rem;
      font-family: monospace;
    }
    #controls button, #controls select, #controls input {
      cursor: pointer;
    }

    #searchlabel, #searchlabel input {
      padding: .25rem .6rem;
      font-family: monospace;
    }

    _#bigcontainer {
      position: relative;
      height: 80vh;
      border: 1px solid red;
    }
    
    _#viewerContainer {
      position: absolute;
      width: 100%;
      overflow-x: auto;
      overflow-y: auto;
      background: #ffffff;
      text-align: center;
      height: 95vh;
    }
    
    #viewerContainer {
      position: fixed;
      top: 3.4rem;
      width: 100%;
      overflow-x: auto;
      overflow-y: auto;
      background: #ffffff;
      text-align: center;
      height: 94vh;
    }

    #viewer {
      display: inline-block;
      _border: 2px solid black;
      _box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      _border-radius: 10px;
      margin-top: 8rem;
      margin-bottom: 7rem;
    }

    #sliderContainer {
      position: fixed;
      top: 4rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 999;
      _background: #c3ff0033;
      padding: 0.5rem;
      width: 90%;
      display: grid;
      justify-content: right;
    }

    /* hide useless first page */
    .pdfViewer .page[data-page-number="1"] {
      display: none !important;
    }

    #prevPage {
      display: none;
      position: absolute;
      top: 50%;
      left: 2rem;
      transform: translateY(-50%);
      z-index: 999;
      background-color: white;
      border: 3px solid rgb(0, 0, 0);
      padding: 10px 4px;
      cursor: pointer;
    }

    #nextPage {
      display: none;
      position: absolute;
      top: 50%;
      right: 2rem;
      transform: translateY(-50%);
      z-index: 999;
      background-color: white;
      border: 3px solid rgb(0, 0, 0);
      padding: 10px 4px;
      cursor: pointer;
    }
    
    #pageSlider {
      width: 100%;
    }
    
    .textLayer ::selection { background: rgb(108, 255, 118); }

    @media screen and (max-width: 500px) {
      #controls {
      font-size: 0.8rem;
      }
      
      #controls input, #controls select, #controls button, #searchlabel, #searchlabel input, #searchlabel button {
      font-size: 0.8rem;
      }

      #prevPage {
        left: 0.8rem; 
      }

      #nextPage {
        right: 0.8rem;
      }

      #viewer {
        margin-top: 2rem;
      }

      #sliderContainer {
        top: 3rem;
      }
      }